/*description*/ 
.description-block{
	padding: 0 10px;
	width: 100%;
	max-width: 1050px;
	margin: 0 auto;
	padding: 75px 0;
}
.description__content{
	background-color: var(--dark-grey);
	color: #fff;
	position: relative;
	.image{
		width: 364px;
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(-15px, -70px);
		img{
			width: 100%;
		}
	}
	.text{
		margin-left: 364px;
		padding: 45px 35px 55px 20px;
	}
}
.description__title{
	margin-left: 364px;
	padding-left: 20px;
	.title{
		margin-bottom: 15px;
	}	
}
